
<%= render 'books/book', book: @book %>

<h1>Users</h1>

<% @user %>
    
    <%= image_tag @user.get_image, size: "200×200" %>
    <div>name<%= @user.name %></div>
    
<%= link_to "show", user_path(@user.id) %>