
<h1>User info</h1>

<% @user.each do |user| %>
    <% if user.image.attached? %>
     <%= image_tag user.image, size: "200×200" %>
    <% else %>
     <%= image_tag 'no-image', size: "200×200" %>
    <% end %>
<% end %>

