<%= render 'book', book: @book %>


<h1>Books</h1>
<table>
   <thead>
       <tr>
           <th>Title</th>
           <th>Opinion</th>
       </tr>
   </thead>
   <tbody>
       
       <% @book.each do |book| %>
       <tr>
           <td><%= image_tag @user.get_image, size: "200×200" %></td>
           <td><%= link_to book.title, "/books/#{book.id}" %></td>
           <td><%= book.body %></td>
       </tr>
       <% end %>
   </tbody>
</table>
