<h1>Book detail</h1>
<table>
   <thead>
       <tr>
           <th>Title</th>
           <th>Opinion</th>
       </tr>
   </thead>
   <tbody>
       <% @book.each do |book| %>
       <tr>
           <td><%= book.title %></td>
           <td><%= book.body %></td>
       </tr>
       <% end %>
   </tbody>
</table>
